# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# builds
builds/*
build/*
dummy.cpp
dummy

doxygen/**

.vs/*
out/*

# Node.js
node_modules
package-lock.json

# GoogleTest
googletest/*

# Visual Studio
x64/*
cpp-linear-algebra.vcxproj.user
cpp-line.*
packages/*
unit_test/unit_tests.vcxproj.user
unit_test/x64/*
