# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# builds
builds/*
build/*
dummy.cpp
dummy

doxygen/**

.vs/*
out/*

# Node.js
node_modules
package-lock.json

# GoogleTest
googletest/*

# Visual Studio
x64/*
cpp-linear-algebra.vcxproj.user
cpp-line.*
packages/*
unit_test/unit_tests.vcxproj.user
unit_test/x64/*
/unit_tests/x64/Debug
/unit_tests/x64/Release/unit_tes.42140A0D.Up2Date
/unit_tests/x64/Release/unit_tests.Build.CppClean.log
/unit_tests/x64/Release/unit_tests.exe.recipe
/unit_tests/x64/Release/unit_tests.log
/unit_tests/x64/Release/unit_tests.tlog/CL.command.1.tlog
/unit_tests/x64/Release/unit_tests.tlog/Cl.items.tlog
/unit_tests/x64/Release/unit_tests.tlog/CL.read.1.tlog
/unit_tests/x64/Release/unit_tests.tlog/CL.write.1.tlog
/unit_tests/x64/Release/unit_tests.tlog/CopyLocal.read.1u.tlog
/unit_tests/x64/Release/unit_tests.tlog/CopyLocal.write.1u.tlog
/unit_tests/x64/Release/unit_tests.tlog/link.command.1.tlog
/unit_tests/x64/Release/unit_tests.tlog/link.read.1.tlog
/unit_tests/x64/Release/unit_tests.tlog/link.secondary.1.tlog
/unit_tests/x64/Release/unit_tests.tlog/link.write.1.tlog
/unit_tests/x64/Release/unit_tests.tlog/unit_tests.lastbuildstate
/unit_tests/x64/Release/unit_tests.vcxproj.FileListAbsolute.txt
